@model SeoAnalyzerApp.Models.OptionsModel
<label class="checkbox-inline"> @Html.EditorFor(model => model.NumberOfWords) @Html.DisplayNameFor(model => model.NumberOfWords)</label>
<label class="checkbox-inline"> @Html.EditorFor(model => model.NumberOfMetaKeywords) @Html.DisplayNameFor(model => model.NumberOfMetaKeywords)</label>
<label class="checkbox-inline"> @Html.EditorFor(model => model.ExternalLinks) @Html.DisplayNameFor(model => model.ExternalLinks)</label>